<div class="row mt-3">
    <div class="col">
        <h1 class="animated fadeIn">Sobre nosotros</h1>
        <hr>
        <div class="animated fadeUp">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, sequi deserunt consequatur quidem rem officiis, veritatis autem explicabo laudantium perspiciatis ad sunt corporis amet iure animi impedit sit voluptates. Molestias.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, architecto nobis? Veniam, unde omnis repellat magni laborum natus fugiat alias amet quaerat! Nihil veniam qui repudiandae corporis obcaecati tempora deleniti?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eos commodi recusandae magnam dolorem dolores quasi, veniam ipsa consectetur deleniti pariatur aspernatur mollitia vero quod illum reiciendis dolorum quos enim.
            </p>
        </div>
    </div>
</div>