<h1 class="animated fadeIn">Lista de Carteles</h1>
<hr>
<h3 *ngIf="termino.length != 0">Termino buscado: {{ termino }}</h3>

<div class="row animated fadeIn" *ngIf="carteles.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados de la búsqueda
        </div>
    </div>

</div>

<hr>
<div class="card-columns animated fadeUp">
    <app-cartel *ngFor="let cartel of carteles" [cartel]="cartel"></app-cartel>
</div>